.DS_Store
/Users/okanegemen/Desktop/CulturalPlacesFindingProject/dataScraping/dataLast.zip
/Users/okanegemen/Desktop/CulturalPlacesFindingProject/dataScraping/to_csv.py
/Users/okanegemen/Desktop/CulturalPlacesFindingProject/dataLast